{{ form_start(form) }}
<div class="row">
    <div class="col-md-3">
        {{ form_row(form.nom) }}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {{ form_row(form.adresse) }}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        {{ form_row(form.date_debut) }}
    </div>
</div>

{{ form_rest(form) }}
<button class="btn btn-primary">{{ button | default('Enregister') }}</button>
<a href="{{ path('chantier.index')}}" class="btn btn-danger">Retour</a>
{{ form_end(form) }}